.scroll {
    opacity: 0.3;
    background-color: lightpink;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 8%;
    right: 6%;
    border-radius: 5px;
    border: none;
}

.scroll:hover {
     opacity: 1;
}

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}