.lunchbox {
    position: inherit;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    /* width: calc(100% - 20px); */
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #bbbbbb;
}


.luntitle {
    color: rgb(33, 133, 208);
    font-size: 22px;
    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 45px;
    padding-top: 20px;
}

.Bopbtn0{
    color: #fff;
    background-color: #f47e9e;
    /* margin-left: 8px; */
    width: 60px;
    height: 60px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #f47e9e;
    border-radius: 38px;
    margin: 3px;
}

.Bopbtn{
    color: #3284fb;
    background-color: #fff;
    /* margin-left: 8px; */
    width: 89px;
    height: 28px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #3284fb;
    border-radius: 5px;
    margin: 3px;
    margin-top: 17px;
}
.buttons{
    padding-bottom: 24px;
}

.menulist{
    text-align: left;
    /* margin-left: 50px; */
    /* margin-top: 20px; */
    /* border-bottom: 1px solid pink; */
    line-height: 25px;
    /* border: 1px solid pink; */
    padding: 20px;
    margin: 5%;
    border-radius: 12px;
    background: #faf6f7;
}


.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: hsl(243, 80%, 62%);
    margin-top: 10px;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
    margin-top: 30px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}


.txt-style {
    color: red;
}

.typing-txt{
    position:relative;
    display: inline-block;
    height: 25px; overflow: hidden;
    animation: typingAni 2s steps(30, end) 1;
    margin-top: 20px;
}
.typing-txt::after{
    position:absolute;
    display:block;
    content:"";
    width: 20px;
    height: 13px;
    top : 3px;
    right:0;
    border-right: 1px solid #000;
    animation: cursor 0.5s step-end infinite;
    margin-top: 20px;

}
@keyframes typingAni {
    0%{width:0%;}
    100%{width: 150px;}
}
@keyframes cursor{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}