body {
    background-color: #F2F2F2;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.login-title {
    color: black;
    font-family: HY울릉도B;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
}

.input-area-style {
    margin: 10px;
}

.input-box-style {
    margin: 5px
}

.top-button-style {
    margin-top: 100px;
}

.bottom-button-style {
    margin-top: 30px;
}

.button-wide-style {
}