@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean');


body {
    background-color: #F2F2F2;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.user-package-title {
    color: black;
/*     font-family: HY울릉도B; */
    font-size: 17px;
    margin-top: 34px;    
    text-align: left;
    margin-left: 45px;
    padding-top: 46px;
}

.user-package-title2 {
    color: black;
/*     font-family: HY울릉도B; */
    font-size: 17px;
    margin-top: 34px;    
    text-align: left;
    margin-left: 45px;
    padding-top: 12px;
}

.input-area-style {
    margin: 10px;
}

.input-box-style {
    margin-top: 5px;
    align-content: center;
}

.input-box-style span {
    margin-top: 5px;
}

.input-box {
    border: solid 1px;
    margin-left: 15px;
    width: 160px;
    border-radius: 8%;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background: none;
}


.top-button-style {
    margin-top: 100px;

}

.bottom-button-style {
    margin-top: 200px;
}

.first-button {
    color: black;
    background-color: lightpink;
    margin-left: 8px;
    width: 130px;
    font-size: 15px;
    font-family: HY목판L;
    cursor: pointer;
    border: 2px solid deeppink;
    border-radius: 8%;
}

.just-button {
    color: black;
    background-color: lightgray;
    margin-left: 8px;
    width: 130px;
    font-size: 15px;
    /* font-family: HY목판L; */
    cursor: pointer;
    border: 2px solid darkgray;
    border-radius: 8%;
}

.enter-button {
    color: white;
    background-color: darkslategrey;
    margin-left: 8px;
    width: 260px;
    font-size: 15px;
    /* font-family: HY목판L; */
    cursor: pointer;
    border: 2px solid darkcyan;
    border-radius: 8%;
}

.auth-true {
    color: blue;
    font-size: 12px;
}

.auth-false {
    color: red;
    font-size: 12px;
}


.authenmail{
    text-align: left;
    margin-top: 11px;
    margin-left: 43px;

}
.authbox {
    position: inherit;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box; 
    /* width: calc(100% - 20px); */
    height: 288px; 
    margin-top: 25px;
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px #bbbbbb;


}

.button-wide-style{
    width: 130px;
    height: 30px;
}