@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean');



body {
    background-color: #F2F2F2;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.user-package-title {
    color: black;
    font-size: 17px;
    margin-top: 34px;
    text-align: left;
    margin-left: 45px;
    padding-top: 34px;
}

.user-package-title2 {
    color: black;
    font-size: 17px;
    margin-top: 37px;
    text-align: left;
    margin-left: 45px;
    padding-top: 4px;
}

.input-area-style {
    margin: 10px;
}

.input-box-style {
    margin-top: 5px;
    align-content: center;
}

.input-box-style span {
    margin-top: 5px;
}

.input-box {
    border: solid 1px;
    margin-left: 15px;
    width: 160px;
    border-radius: 8%;
}

.authenmail input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    margin-top: 10px;
}


.authenmail2 input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: 85%;
    height: 30px;
    margin-top: 10px;
}


.top-button-style {
    margin: 0 auto;

}


.first-button {
    color: black;
    background-color: lightpink;
    margin-left: 8px;
    width: 130px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid deeppink;
    border-radius: 8%;
}

.just-button {
    color: black;
    background-color: lightgray;
    margin-left: 8px;
    width: 130px;
    font-size: 15px;
    /* font-family: HY목판L; */
    cursor: pointer;
    border: 2px solid darkgray;
    border-radius: 8%;
}

.enter-button {
    color: white;
    background-color: darkslategrey;
    margin-left: 8px;
    width: 260px;
    font-size: 15px;
    /* font-family: HY목판L; */
    cursor: pointer;
    border: 2px solid darkcyan;
    border-radius: 8%;
}

.auth-true {
    color: blue;
    font-size: 12px;
}

.auth-false {
    color: red;
    font-size: 12px;
}


.authenmail{
    text-align: center;
    margin-top: 11px;
    font-size: 13px;
    width: 80%;
    margin: auto;

}

.authenmail2{
    text-align: left;
    margin-left: 43px;
    font-size: 13px;

}


.authbox {
    position: inherit;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    /* width: calc(100% - 20px); */
    
    margin-top: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #bbbbbb;
    padding-bottom: 42px;


}

.button-wide-style{
    width: 130px;
    height: 30px;
}