@font-face {
    font-family: Hoon;
    src: url(../fonts/Hoon.ttf);
  }


.today-title {
    color: rgb(33, 133, 208);
    font-size: 22px;
    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    font-family:"Hoon"
}

.today-title2 {
    color: rgb(33, 133, 208);
    font-size: 22px;
    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 27px;
    padding-top: 20px;
    font-family:"Hoon"
}


.today {

    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 23px;
    padding-top: 20px;
}
.today span:nth-child(1){
    background-image: url(../images/mutter_icon.svg);
    width: 21px;
    height: 25px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 1px;
}

.todaybox {
    position: inherit;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    /* width: calc(100% - 20px); */
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #bbbbbb;
}

.todayclass{
    margin-top: 20px;
}


.todayclass input[type="date"] {
    float: left;
    margin-left: 7%;
    width: 120px;
}

.todayclass input[type="text"] {

    width: 44%;
    /* margin: 0 auto; */
    height: 15px;
    float: left;
    /* padding-left: 16px; */
    margin-left: 17px;
    margin-top: 3px;
}
.todaybox .button-more{
    color: #3284fb;
    background-color: #fff;
    margin-left: 9px;
    width: 80px;
    height: 28px;
    font-size: 15px;
    /* cursor: pointer; */
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;

    
}

.do-you-know-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}

.do-you-know-popup-inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 30%;
    bottom: 40%;
    margin: auto;
    background: white;
    box-shadow: 0 2px 5px #bbbbbb;
    border-radius: 7px;
}

.do-you-know-popup-content {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
    bottom: 40%;
    margin-top: 5px;
}

.do-you-know-popup-button-style {
    position: absolute;
    top: 70%;
    /* left: 10%; */
    /* right: 10%; */
    left: 12%;
}

.do-you-know-popup .button-small1{
    color: #3284fb;
    background-color: #fff;
    margin-left: 9px;
    width: 80px;
    height: 28px;
    font-size: 15px;
    /* cursor: pointer; */
    border: 1px solid #3284fb;
    border-radius: 5px;
    float: left;

}


.todayclass .button-small1 {
    color: #3284fb;
    background-color: #fff;
    margin-left: 9px;
    width: 80px;
    height: 28px;
    font-size: 15px;
    /* cursor: pointer; */
    border: 1px solid #3284fb;
    border-radius: 5px;
    float: left;
}

.button-wide1 {
    color: white;
    background-color: lightskyblue;
    margin-top: 20px;
    margin-left: 8px;
    width: 90%;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid lightskyblue;
    border-radius: 14px;
    height: 30px
}

.contents-list-style {
    margin-top: -16px;
    width: 95%;
}

.content-item0 {
    margin-right: 13px;
    line-height: 2;
    color: darkgray;
    font-size: 15px;
    vertical-align: top;
}

.content-item1 {
    margin-right: 15px;
    font-size: 18px;
    word-break: break-word;
}

.content-item2 {
    margin-right: 15px;
    font-size: 13px;
    color: gray;
    vertical-align: top;
}

.content-item3 {
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}

.content-icon-true {
    margin-right: 6px;
    font-size: 12px;
}

.content-icon-false {
    margin-right: 6px;
    font-size: 12px;
}

.todaybox .newlist {
    text-align: left;
    padding-left: 29px;
    padding-top: 86px;
    line-height: 31px;
    font-size: 16px;
    padding-bottom: 10px;
}


.tagclass {
    background: #eaeaea;
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    border-radius: 9px;
    font-size: 11px;
    margin-top: 5px;
    padding: 3px;
    color: #3284fb;
    
}

.tagclass span:nth-child(1){
    margin-left: 13px;
}

.top-icon {
    position: absolute;
    left: 80%;
    top: 103%;
}

.top-icon2 {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
}
