.dangcheom{
    margin-top: 20px;
    font-size: 23px;
    color: #ff8300;
}

.randomInput{
}

.plusIcon{
    font-size: 20px;
    margin: 5px;
}

.minusIcon{
    font-size: 20px;
    margin: 5px;
}

.on-loading {
    margin: auto 0;
    width: 100%;
    height: 100%;
     position: fixed;
     left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display:block;
    text-align: center;
    /* float:left; */
    justify-content: center ;
    background-color: rgba(0,0,0,0.5);
    
}

.lds-hourglass {
    display: block;
    position: relative;
    top: 15%;
    left: 45%;
    flex-direction: row;
    justify-content: center ;
 

}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
    border: 50px solid black;
    border-color: dodgerblue transparent lightskyblue transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}