@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean');


.randombox{
    position: inherit;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    /* width: calc(100% - 20px); */
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #bbbbbb;
}

.rantitle{
    color: rgb(33, 133, 208);
    font-size: 22px;
    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 45px;
    padding-top: 20px;

}



.input01{
    margin-top: 20px;
}

.topic{
    margin-right: 10px;
}

.input01 input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: 42%;
    margin: 0 auto;
    height: 13px;
    margin-top: 10px;

}


.input01 input[type="text"]::placeholder{
    color: darkgray;
    font-size: 13px;
    padding-left: 10px;
    padding-bottom : 3px;
}


.redol input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: 35%;
    margin: 0 auto;
    height: 13px;
    margin-top: 10px;
    float: left;
}



.redol{
    margin-top: 28px;


}




.input02{
    margin-top: 20px;
    padding-bottom: 31px;
}