@font-face {
    font-family: Hoon;
    src: url(../fonts/Hoon.ttf);
  }


.popular-title {
    color: rgb(33, 133, 208);
    font-size: 22px;
    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    font-family:"Hoon"
}


.popular {

    margin-top: 5px;
    padding: 4px;
    text-align: left;
    padding-left: 23px;
    padding-top: 20px;
}
.popular span:nth-child(1){
        background-image: url(../images/mutter_icon.svg);
        width: 21px;
        height: 25px;
        background-repeat: no-repeat;
        float: left;
        margin-top: 1px;
}
   

.popbox {
    position: inherit;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    /* width: calc(100% - 20px); */
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #bbbbbb;
}

.poplist{
    text-align: left;
    padding-left: 45px;
    padding-top: 10px;
    line-height: 31px;
    font-size: 15px;
    padding-bottom: 24px;
}

.popbox .newlist {
    text-align: left;
    padding-left: 29px;
    padding-top: 10px;
    line-height: 31px;
    font-size: 16px;
    padding-bottom: 24px;
}

.popbtn{
    color: #fff;
    background-color: #3284fb;
    margin-left: 8px;
    width: 71px;
    height: 28px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #3284fb;
    border-radius: 5px;
    float: right;
    padding-right: 4;
    margin-right: 4%;

}

.popcontent{
    margin-top: 20px;
    margin-left: 5%;
}

.popsearch{
    float: left;
}