.nickname-title1 {
    font-size: 17px;
    margin-top: 34px;
    text-align: left;
    margin-left: 45px;
}

.nickname-title2 {
    font-size: 17px;
    margin-top: 34px;
    padding-top: 20px;
    color: #3284fb;
}

.nickname-tip {
    font-size: 12px;
    text-align: left;
    margin-top: 19px;
    margin-right: 23px;
    color: cornflowerblue;
}

.nickbg{
    width: 100px;
    height: 20px;
    background: #e5effc;
    padding: 9px;
    border-radius: 5px;
    font-size: 17px;
    letter-spacing: -1px;
}

.nickname-style{
    text-align: center;
    margin-top: 20px;
    color: #3284fb ;
}

