@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean');


body {
    background-color: #F2F2F2;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.main-title {

    background-image: url('../images/logotxt.svg');
    height: 72px;
    width: 158px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}



.login-icon-style {
    color: rgb(33, 133, 208);
    font-size: 20px;
    text-align: left;
    margin-left: 37px;
    margin-top: 38px;

}

.logout-icon-style {
    color: black;
    font-size: 20px;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}

#auth-icon-style {
    color: rgb(33, 133, 208);
    font-size: 20px;
    text-align: left;
    margin-top: 31px;
    margin-left: 40px;
    font-size: 17px;
}

#auth-icon-style:hover {
    color: rgb(33, 133, 208);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 31px;
    margin-left: 40px;
    font-size: 17px;
    cursor: pointer;
}

.menubar {
    display: block;
    width: 100%;
    height: 76px;
    background-color: #FFF;
    box-shadow: 0 2px 5px #bbbbbb;
    text-align: center;

}

.menubar span {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 2em;
    line-height: 60px;
}

.text-style {
    color: black;
}

#hambmenu {
    position: relative;
    width: 30px;
    height: 50px;
    float: left;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 2px;
}

#hambmenu span {
    position: absolute;
    height: 3px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: #a8a8a8;
    border-radius: 8%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    padding: 0px;
}

.hambclicker {
    content: "";
    height: 48px;
    width: 55px;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    z-index: 9;
}

#hambmenu span:nth-child(1) {
    top: 0px;
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
    top: 10px;
}

#hambmenu span:nth-child(4) {
    top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
    transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
    transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#menu {
    position: absolute;
    height: calc(100vh - 60px);
    width: 230px;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    transition: transform 300ms;
    box-shadow: 0 2px 5px #bbbbbb;
}
#menu ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
}
#menu li {
    padding: 14px;
    padding-left: 19px;
    font-size: 1.35em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
#menu li:last-child {
    border-bottom: none;
}

.fa {
    color: black;
    padding-right: 8px;
}

li a {
    text-decoration: none;
    color: #666;
    padding-left: 18px;
}

#menu.isopen {
    transform: none;
}

@media screen and (max-width: 420px) {
    .menubar span {
        font-size: 1.2em;
    }
}


/* 홈화면 게시글 박스들 */
.mainbox1 {
    position: inherit;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box; 
    /* width: calc(100% - 20px); */
    margin-top: 15px;
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px #bbbbbb;


}

.more-text{
    float: right;
    margin-right: 15px;
    text-decoration: none;
    color: #3284fb;
}
a {text-decoration: none;}
