.site-style {
    width: 430px;
}
.content-style {
    color: black;
}

.summary-count {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border: 2px solid darkgray;
}

.today-summary-title {
    color: black;
    font-family: HY울릉도B;
    font-size: 20px;
    position: relative;
    margin-top: 25px;
}

@media (min-width: 431px) {
    .site-style {
        width: 767px;
    }
}

@media (min-width: 768px) {
    .site-style {
        width: 1023px;
    }
}

@media (min-width: 1024px) {
    .site-style {
        width: 2048px;
    }
}